@font-face{
    font-family: 'SF Pro Text';
    src:url(./FontsFree-Net-SFProText-Regular.ttf);
}

*{
    font-family: 'SF Pro Text';
}

body{
    margin: 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 12px 0 12px 0 ;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin: 0 40px 0 40px;
    font-size: 0.9rem;
}

.icon{
    width: 40px;
    height: 20px;
    background-size: 150% 150%;
    display: block;
    background-position: -5px -5px;
}

.logo{
    background-image: url(./fotos/logoblanco.png);
}

.carro{
    background-image: url(./fotos/bolsa.png);
}

.box{
    margin: 0px 0px 0 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 18px;
    width: 480px;
    height: 500px;
    white-space: normal;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);
    background-size: contain;
    text-align: center;
    font-size: 10px;
    background-position: bottom;
    background-repeat: no-repeat;
    
}

.map{
    background-image: url(./fotos/Map\ fondo.jpg);
}

.myphone{
    background-image: url(./fotos/myphone\ fondo.jpg);
}

.mypad{
    background-image: url(./fotos/mypad\ fondo.jpg);
}

.mywatch{
    background-image: url(./fotos/mywarch\ fondo.jpg);
}

.mypods{
    background-image: url(./fotos/mypods\ fondo.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 230%;
}

.cont{
    display: flex;
    margin: 200px 300px 0 300px;
    justify-content: center;
}

.t:hover{
    width: 120%;
    font-size: 2rem;
    color: black;
    background-image: none;
    
}

