@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);


#logo{
    width: 150px; 
    height: 100px;
    margin-left: 80px;
    size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#logo-mapple{
    width: 100px; 
    height: 50px;
}
#productos{
    background-color:rgba(159, 159, 159, 0.333);  
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align:center;
    border-width: 30px;
    border-radius: 100px;
}
#Texto{
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ek Mukta";
    font-size: 20px;
}

  #Barra{
    text-align:center;
    background-color:rgba(0, 0, 0);
    word-spacing: 50px;
    
}
