@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);



head{
    font-family: "Ek Mukta";
    font-size: 30px;
}

#logo-home{
    width: 29px; 
    height: 25px;
    margin-left: 20px;
    
}
#logo-mapple{
    width: 50px; 
    height: 25px;
    
}
#productos{
    width: 2000px; 
    height:100px;
    margin-left: 100px;
    margin-top: 100px;
}
#Texto{
    width: 2000px; 
    height:80px;
    margin-left: 100px;
    margin-top: 100px;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    
  }

  #Barra{
    text-align:center;
    background-color:rgba(0, 0, 0);
    margin: 0px -100px 0px -100px;
    
}